<md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Welcome to Book Barter</span>
          </md-card-title-text>
        </md-card-title>
     <md-card-content class= "md-subhead">
          		{{about}} 
     </md-card-content>
     </md-card>
     
     <form ng-submit="search()">
     <div layout="row">
     	<div flex=""></div>
     	<div layout-align = "center center">
     		<md-input-container layout="column" flex class="md-block">
			<label>Search Book</label> 
			<input ng-maxlength="100" required
				name="bookname" ng-model="query">
		</md-input-container>
		</div>
		<md-button type="submit" style="max-height:32px !important"class="md-primary md-raised">Submit</md-button>
		<div flex=""></div>
		</div>
	</form>
	
     <p ng-repeat="book in searchedBooks">
     	{{book.bookList[0].info.title}}
     </p>
     <div layout=row>
     <span flex=""></span>
     <md-subheader ng-if="searchedBooks.length == 0">
     <p >Sorry! No books available.</p>
     </md-subheader>
     <span flex=""></span>
     </div>
    
