<md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Welcome to Book Barter</span>
          </md-card-title-text>
        </md-card-title>
     <md-card-content class= "md-subhead">
          		{{about}} 
     </md-card-content>
     </md-card>
     
     <form ng-submit="search()">
     <div layout="row">
     	<div flex=""></div>
     	<div layout-align = "center center">
     		<md-input-container layout="column" flex class="md-block">
			<label>Search Book</label> 
			<input ng-maxlength="100" required
				name="bookname" ng-model="query">
		</md-input-container>
		</div>
		<md-button type="submit" style="height:48px !important; width:48px !important"class="md-primary md-raised md-icon-button"><md-icon>search</md-icon></md-button>
		<div flex=""></div>
		</div>
	</form>
	<div layout="row" layout-lt-sm = "column" flex="100" layout-wrap>
		<div flex = "20" flex-lt-sm = "100" ng-repeat="book in searchedBooks">
			<md-card  md-theme-watch>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{book.bookList[0].info.title}}</span>
            <span class="md-subhead">{{book.bookList[0].info.genre.category}}</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-sm card-media"><img ng-src="{{book.bookList[0].info.title}}"></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-content>
        	{{book.bookList[0].info.description}}
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-primary md-raised" ng-disabled = "notInRequestedBooks(book.bookList[0]._id)"  ng-show = "book.bookList[0].info.available" ng-click="requestBook(book.bookList[0]._id, book.bookList[0].__id)">Request</md-button>
        </md-card-actions>
      </md-card>

		</div>
	</div>
     
     <div layout=row>
     <span flex=""></span>
     <md-subheader ng-if="searchedBooks.length == 0">
     <p >Sorry! No books available.</p>
     </md-subheader>
     <span flex=""></span>
     </div>
    
