<div layout="row" layout-lt-sm = "column" flex="100" layout-wrap>
		<div flex = "33" flex-lt-sm = "100" ng-repeat="book in askedBooks">
			<md-card  md-theme-watch>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{book.info.title}}</span>
            <span class="md-subhead">{{book.info.genre.category}}</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
        <md-switch ng-model="data.cb1" class="md-primary" aria-label="Switch 1">
    {{ data.cb1 == true ? 'Hide' : 'Show' }} requests 
  	</md-switch>
        	<md-list  flex ng-hide = "!data.cb1">
       <!-- Currently only for 1 user. -->
        
        <md-list-item class="md-2-line"  ng-repeat="u in book.req" ng-class="{'selected':book.trader===u.id}" >
       
          <md-icon class="md-avatar"  ><img ng-src="{{u.picture}}" class="md-avatar" ></md-icon>
       
          <div class="md-list-item-text" >
            <a style="text-decoration:none" ng-href="/profile/{{u.id}}"> {{u.name}}</a>
            <p> Please consider my bet </p>
          </div>
          <md-button class="md-secondary md-icon-button" ng-hide="book.trader" ng-click="acceptTrade(u.id, book._id)" aria-label="call">
            <md-icon >check</md-icon>
          </md-button>
        </md-list-item>
      </md-list>
      </md-card>

		</div>
</div>