<md-content>
			<md-card>
			<md-subheader class="md-no-sticky">About me</md-subheader>
				<md-list class="md-dense">
				<md-list-item ng-click="">
    				<p class="md-body-1" style="text-align:justify"> Currently a 7th semester(B.Tech, Computer Science) student at KIIT University. I love coding, whether it's <a ng-href="https://github.com/AkashKG/data-structure" style="text-decoration:none"target="_blank">Data Structure</a> or a web-app.
    				I like building things, shaping it to real existence.  <br>
<span >When I'm not sitting behind my laptop, I enjoy nature, movies, listening music, and to some extent sketching.</span>
    				</p>
  					</md-list-item> </md-list>
			</md-card>
			</md-content>